{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>About Us</strong></h1>
        <button class="btn btn-primary h2" onclick='kech()'>rip</button>
    </head>
    <hr class="line_title">
    <br>
    <strong class='h1'>{{ question }}</strong>
    <br/>
    <br/>
    <br/>
    <br/>
    <strong class='h1' id="answer">
        <div class='row'>
            <div class='col-sm'>
                {{ answer0 }}
                <br>
                <br>
                {{ answer1 }}
            </div>
            <div class='col-sm'>
                {{ answer2 }}
                <br>
                <br>
                {{ answer3 }}
            </div>
        </div>
    </strong>
    <strong id='kk'></strong>
        {{ coranswer }}
    <script>

        function kech() {
            var cancer = '{{ test }}'
            document.getElementById("answer").innerHTML = cancer;
            // document.getElementById('kk').innerHTML= cancer;
         }
    </script>

{% endblock %}