{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>About Us</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <strong class='h1'>{{ question }}</strong>
    <br/>
    <br/>
    <br/>
    <br/>
    <strong class='h1'>
        <div class='row'>
            <div class='col-sm'>
                > {{ answer }}
                <br>
                <br>
                {{ wrong2 }}
            </div>
            <div class='col-sm'>
                {{ wrong1 }}
                <br>
                <br>
                {{ wrong3 }}
            </div>
        </div>


    </strong>
{% endblock %}