{% extends "layout.html" %}

{% block title %}
    Answer
{% endblock %}

{% block main %}
    <br>
    <head>
            <div class='roomtag'>
                Room: {{ room }}
            </div>
            <br/>
            <br/>
            <h1><strong>
                {{ question }}
            </strong></h1>
    </head>
    <hr class="line_title">
    </hr>
    <br>
    <br>
    <br>
    <table class='w-100' id='kech'>
        <tr style='width: auto'>
            <td><button class="btn btn-primary answer w-100" onclick='kech()' id ='answer0'>{{ answer0 }}</button></td>
            <td><button class="btn btn-primary answer w-100" onclick='kech()' id='answer2'>{{ answer2 }}</button></button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary answer w-100" onclick='kech()' id='answer1'>{{ answer1 }}</button></td>
            <td><button class="btn btn-primary answer w-100" onclick="kech()" id='answer3'>{{ answer3 }}</button></td>
        </tr>
    </table>

    <strong class='h1'><h1 id='feedback'></h1></strong>
    <p class='text-center'>{{ coranswer }}
    <br>
    {{ test  }}
    <br/>
    <br/>
    {{ questdict }}
    <br/>
    {{ wrong_answers }}
    <br/>
    {{ coranswers }}
    </p>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">


        $( ".answer" ).click(function() {
            // remember selected answer
            var qq = $(this).text();
            // compares given answers with correct answer
            var given_answer =  '{{ coranswer }}';
            if (given_answer===qq){
                var score = 1;
    		    $.getJSON('/correct_answer', {
    			    score: $('1').val(),
    		    }, function(data) {
    				$("#feedback").text(data.result);
    				});
    				return document.getElementById("feedback").innerHTML = 'You are done!!';

            }
            else if (given_answer != qq){
                document.getElementById("feedback").innerHTML = 'Wrong! The correct answer is:<br/>{{ coranswer }}';
            }
        };
    </script>
{% endblock %}





