{% extends "layout.html" %}

{% block title %}
    Answer
{% endblock %}

{% block main %}
    <br>
    <head>
            <div class='roomtag'>
                Room: {{ room }}
            </div>
            <br/>
            <br/>
            <h1><strong id='question'>
                {{ question }}
            </strong></h1>
    </head>
    <hr class="line_title">
    </hr>
    <br>
    <br>
    <br>
    <table class='w-100' id='kech'>
        <tr style='width: auto'>
            <td><button class="btn btn-primary answer w-100" onclick='kech()' id ='answer0'></button></td>
            <td><button class="btn btn-primary answer w-100" onclick='kech()' id='answer2'></button></button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary answer w-100" onclick='kech()' id='answer1'></button></td>
            <td><button class="btn btn-primary answer w-100" onclick="kech()" id='answer3'></button></td>
        </tr>
    </table>

    <strong class='h1'><h1 id='feedback'></h1></strong>
    <p class='text-center'>{{ coranswer }}
    <br>
    {{ test  }}
    <br/>
    <br/>
    {{ questdict }}
    <br/>
    {{ wrong_answers }}
    <br/>
    {{ coranswers }}
    <br/>
    <div id='getJSON'>
        {{ jsonfile }}
    </div>
    </p>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
        // Read JSON file
        var jsonfile = document.getElementById("getJSON").innerHTML;
        var quizlist = JSON.parse(jsonfile);

        document.getElementById('question').innerHTML = quizlist.q0[0];

        // Scramble answers
        // Init arrays for scrambling
        var idArray = ['answer0', 'answer1', 'answer2', 'answer3'];
        var answerArray = [quizlist.q0[2], quizlist.q0[1][0], quizlist.q0[1][1], quizlist.q0[1][2]];
        // Choose random position for answer and remove position from the possible positions
        while (idArray.length > 0) {
            var ran = Math.floor(Math.random() * idArray.length);
             var rans = Math.floor(Math.random() * answerArray.length);
            document.getElementById(idArray[ran]).innerHTML = answerArray[rans];
            idArray.splice(ran, 1);
            answerArray.splice(rans, 1);
        };




        $( ".answer" ).click(function() {
            // remember selected answer
            var qq = $(this).text();
            // compares given answers with correct answer
            var given_answer =  quizlist.q0[2];
            if (given_answer===qq){
                document.getElementById("feedback").innerHTML = 'Correct!';
            }
            else if (given_answer != qq){
                 document.getElementById("feedback").innerHTML = 'Wrong! The correct answer is:<br/>'+given_answer;
            }
            // clears other text on
            document.getElementById("kech").innerHTML = '';
        })
</script>
{% endblock %}





