{% extends "layout.html" %}

{% block title %}
    Answer
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>
            Room: {{ room }}
            <br/>
            {{ question }}
            </strong></h1>
    </head>
    <hr class="line_title">
    </hr>
    <br>
    <br>
    <br>
    <table class='w-100' id='kech'>
        <tr style='width: auto'>
            <td><button class="btn btn-primary answer w-100" onclick='kech()'>A. <id ='answer0'>{{ answer0 }}</id></button></td>
            <td><button class="btn btn-primary answer w-100" onclick='kech()'>C. <id='answer2'>{{ answer2 }}</id></button></button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary answer w-100" onclick='kech()'>B. <id='answer1'>{{ answer1 }}</id></button></td>
            <td><button class="btn btn-primary answer w-100" onclick="kech()">D. <id='answer3'>{{ answer3 }}</id></button></td>
        </tr>
    </table>

    <strong class='h1' id='feedback'></strong>
    <p class='text-center'>{{ coranswer }}
    <br>
    {{ test  }}
    </p>

    <script>
        // function kech() {
            //  document.getElementById("demo").innerHTML = "Waiting for players";
            //  document.getElementById("kech").innerHTML = ' ';
        // }
        $( ".answer" ).click(function() {
            // remember selected answer
            var qq = $(this).text();


            // compares given answers with correct answer
            var given_answer =  '{{ coranswer }}';
            if (given_answer===qq){
                document.getElementById("feedback").innerHTML = 'Correct!';
            }
            else if (given_answer != qq){
                 document.getElementById("feedback").innerHTML = 'Wrong! The correct answer is:<br/>{{ coranswer }}';
            }

            // clears other text on
            document.getElementById("kech").innerHTML = '';
        });
    </script>
{% endblock %}