{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Oops something went wrong:</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <h3>{{ bottom }}</h3>
    <br>
    <br>
    <br>
    <br>
    <form name="go_back">
        <fieldset>
            <div class="form-group">
             <button type="button" class="btn btn-info" onclick="goBack()">Go Back</button>
            </div>
        </fieldset>
    </form>
{% endblock %}