{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Contact</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <section id="contact">
       <div class="container">
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-3 mb-3 mt-5 mx-auto">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <img src="static/phone.png" class="img-fluid" alt="Responsive image" aria-hidden="true" height="70px" width="70px">
                    <br>
                    <h4 class="text-uppercase pt-4">Call us</h4>
                    <p style="text-align:center">> 020-6478231</p>
                    <p style="text-align:center">> 06-74389503</p>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5 mx-auto">
                  <div class="card-body text-center">
                    <img src="http://www.clker.com/cliparts/3/7/f/2/11949849191060543666simbolo_giapponese_archi_01.svg.med.png" width="200px" height="200px" alt="Responsive image">
                  </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 mb-4 mt-5 mx-auto">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <img src="static/mail_new.png" class="img-fluid" alt="Responsive image" aria-hidden="true" height="75px" width="75px">
                    <h4 class="text-uppercase pt-4">E-mail us</h4>
                   <p>> dojosupport@gmail.com</p>
                   <p>> dojotrivia@gmail.com</p>
                  </div>
                </div>
             </div>
           </div>
       </div>
    </section>


    <br>
    <form action="{{ url_for('contact') }}" method="post">
        <fieldset>
            <h5 class="contact_form_desc">Below you can also send us a message to get in touch with us. Make sure you have filled in all the fields and we will try to respond within 24 hours.</h5>
            <div class="form-group">
                <select class="form-control" id="FormSelectReason">
                    <option disabled selected value>Select Reason</option>
                    <option>Report a bug</option>
                    <option>Suggestions</option>
                    <option>Other reason</option>
                </select>
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="emailaddress" placeholder="E-mail" type="email"/>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="contact_message" placeholder="Type your message in here!" rows="4"></textarea>
             </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Send Message</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

