{% extends "layout.html" %}

{% block title %}
    Create Game
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Create Game</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="roomname" placeholder="Roomname" type="text"/>
    </div>
    <br>
    <br>
    <select class="form-control" id="maxplayers">
        <option disabled selected value>Maximum Number of Players</option>
        <option>2</option>
        <option>4</option>
        <option>8</option>
        <option>16</option>
    </select>
    <br>
    <br>
    <div class="button-box col-lg-12">
        <a href="joingame" class="btn btn-info" role="button">Play Existing Quiz</a>
        <a href="createquiz" class="btn btn-info" role="button">Create New Quiz</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h2>Roomnumber: <i>placeholder</i></h2>
{% endblock %}