{% extends "layout.html" %}

{% block title %}
    Create Game
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Create Game</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <br>
        <form action="{{ url_for('creategame') }}" name="creating" method="post">
          <label for="sel1">Select quiz to play:</label>
          <select class="form-control" id="sel1" name='option'>
            <!--<option>{{ options[0] }}</option>-->
            <!--<option>{{ options[1] }}</option>-->
            <!--<option id='test'></option>-->
            <!--<option>4</option>-->
          </select>
          <br><br>
          <button class="btn btn-primary btn-outline-success btn-lg" type="submit">Play</button>
        </form>

    <script type="text/javascript">
    window.onload = function() {
        var bar = '{{ options }}';
        bar = bar.slice(1, bar.length-1);
        bar = bar.split(", ");

        var i;
        for (i = 0; i < bar.length; i++) {
            var str = document.getElementById('sel1').innerHTML;
            document.getElementById('sel1').innerHTML = str + "<option>" + bar[i] + "</option>";
        }
        document.getElementById('test2').innerHTML = bar[0];
    };
    </script>
{% endblock %}