{% extends "layout.html" %}

{% block title %}
    Create Game
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Create A Quiz</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <form action="{{ url_for('index') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="quiztitle" placeholder="Title" type="text"/>
            </div>
            <br>
            <div class="form-group">
                <textarea class="form-control" id="quizdesc" placeholder="Describe your quiz" rows="4"></textarea>
             </div>
             <br>
             <br>
             <p><strong>Please choose a quiz cover below:</strong></p>
            <div class="container">
              <input type="file" name="quizpic" accept="image/*">
            <div>
            <div class="form-group">
            <br>
            <br>
            <br>
            <a href="makeq" class="btn btn-info" role="button">Next</a>
            </div>
        </fieldset>
    </form>
{% endblock %}