{% extends "layout.html" %}

{% block title %}
    Create Game
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Create Game</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <br>
    <h2>Roomnumber: <i>placeholder</i></h2>
    <br>
    <br>
    <div class="button-box col-lg-12">
        <form action="{{ url_for('creategame') }}" name="creating" method="post">
                <button class="btn btn-primary btn-outline-success btn-lg" type="submit">Play quiz with random questions</button>
        </form>
        <form action="{{ url_for('creategame') }}" name="creating" method="post">
          <select name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
          <br><br>
          <button class="btn btn-primary btn-outline-success btn-lg" type="submit">Play a custom quiz</button>
        </form>
    </div>
{% endblock %}