{% extends "layout.html" %}

{% block title %}
    Custom Game
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Create a custom Quiz</strong></h1>
    </head>
    <hr class="line_title"/>
    <br/>
    <p class="text-center">
        Before you go create your own quiz, keep in mind that once you uploaded the quiz it will be available for all players
        on DoJoTrivia to play. So keep it clean!
    </p>
    <strong class='h1'>
        <div id='questionmsg'>
            Title
        </div>
    </strong>
    <form name='title' action="{{ url_for('customquiz') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="quiztitle" placeholder="Title" type="text"/>
                <br/>
                <br/>
                <button class="btn btn-primary btn-outline-danger btn-lg" type="submit">Next</button>
            </div>
        </fieldset>
    </form>

{% endblock %}