{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<div class="container">

    <br>
    <head>
        <h1><strong>DoJoTrivia</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <br>

      <div class="row">

        <div class="col-md-8">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Welcome to DoJoTrivia!</h3>
            <p style="text-align:center">Test your knowledge and challenge your friends!</p>
            <h3 class="my-3">Features:</h3>
            <ul style="text-align: left">
                <li>Trivia Questions!</li>
                <li>1v1 Multiplayer!</li>
                <li>Check your Match History and Stats!</li>
                <li>Create your own quizzes!</li>
            </ul>
            <form action="{{ url_for('register') }}" name="registering" method="get">
                <br>
                <div class="form-group">
                    <button class="btn btn-warning btn-lg" type="submit">Register Now!</button>
                </div>
            </form>
        </div>
      </div>

      <h3 class="my-4">In-Game Screenshots:</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="static/screen1.jpeg" alt="" style="width: 500px; height: auto;">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="static/screen1.jpeg" alt="" style="width: 500px; height: auto;">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="static/screen1.jpeg" alt="" style="width: 500px; height: auto;">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="static/screen1.jpeg" alt="" style="width: 500px; height: auto;">
        </div>

      </div>
    </div>
  </body>
{% endblock %}

