{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="form-group">
              <input autocomplete="off" class="form-control" name="Username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group" style="align:center">
              <input autocomplete="off" class="form-control" name="Password" placeholder="Password" type="password"/>
        </div>
        <div class="form-group">
                <button class="btn btn-default" type="submit">Log In</button>
    </div>
    <br>
    <head>
        <h1><strong>Welcome to DoJoTrivia!</strong></h1>
    </head>
    <hr class="line_title">
    </hr>
    <body>
        <div class='row'>
            <div class='col-sm'>
                <iframe width="720" height="405" src="https://www.youtube.com/embed/dQw4w9WgXcQ" align="center">
                </iframe>
                <a href="register"><img src="http://pluspng.com/img-png/play-now-button-png-play-now-500.png"/></a>
            </div>

            <div class='col-sm'>
                <img src="static/logo.png" align="center" height='150px' width='150px'/>
                <br>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum quis semper mi, nec euismod dui. In quis libero ac ante tempus tincidunt.
                Mauris venenatis posuere ante at iaculis. Nulla eleifend rutrum dui,
                finibus venenatis nibh sollicitudin id. Sed pretium tellus ante,
                non finibus turpis aliquam sagittis. Proin sagittis quam massa,
                sed mattis nisl feugiat a. Vestibulum tellus sapien, finibus a condimentum et,
                ultrices nec erat. Integer ac dolor quam. Vivamus eu leo sit amet erat pulvinar faucibus.
                <br>
                <br>
                Suspendisse ornare orci ut elit consequat rutrum. Integer nec eros et ante eleifend faucibus ac sit amet lectus.
                Duis tincidunt cursus enim, sed blandit sapien lobortis quis. Mauris vel condimentum arcu. Maecenas eu metus aliquet,
                pulvinar massa sed, sodales ex. Vestibulum non ex felis. Ut blandit nunc et lacus placerat, ut fringilla tortor pretium.
                Mauris nec massa et eros aliquet mattis. Morbi scelerisque sollicitudin mollis.</p>
            </div>
        </div>
        <br>
        <br>
    </body>
{% endblock %}