{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <br>
    <br>
    <br>
    <br>
    <head>
        <h1><strong>Welcome, new player!</strong></h1>
    </head>
    <br>
    <br>
    <br>
    <br>
    <form action="{{ url_for('index') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="emailaddress" placeholder="E-mail" type="email"/>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
{% endblock %}