{% extends "layout.html" %}

{% block title %}
    Create A Quiz
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Create Your Quiz!</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <div class="form-group">
        <h3>Question 1</h3>
        <input autocomplete="off" autofocus class="form-control" name="q1" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <div class="form-group">
    <br>
    <br>
    <div class="form-group">
        <h3>Question 2</h3>
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <h3>Question 3</h3>
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <h3>Question 4</h3>
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <h3>Question 5</h3>
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <h3>Question 6</h3>
        <input autocomplete="off" autofocus class="form-control" name="q1" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <div class="form-group">
    <br>
    <br>
    <div class="form-group">
        <h3>Question 7</h3>
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <h3>Question 8</h3>
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <h3>Question 9</h3>
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <h3>Question 10</h3>
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Option 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Option 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Option 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Correct Option" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <h4>Reminder: Your quiz will be put into our database and can be played by every user from our website after submitting.</h4>
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
{% endblock %}


