{% extends "layout.html" %}

{% block title %}
    Create A Quiz
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Create A Quiz</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="q1" placeholder="Question 1" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Answer 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Answer 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Answer 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Answer 4" type="text"/>
    </div>
    <div class="form-group">
    <br>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="q2" placeholder="Question 2" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Answer 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Answer 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Answer 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Answer 4" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="q3" placeholder="Question 3" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Answer 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Answer 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Answer 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Answer 4" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="q4" placeholder="Question 4" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Answer 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Answer 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Answer 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Answer 4" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="q5" placeholder="Question 5" type="text"/>
    </div>
    <br>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a1" placeholder="Answer 1" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a2" placeholder="Answer 2" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a3" placeholder="Answer 3" type="text"/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="a4" placeholder="Answer 4" type="text"/>
    </div>
    <br>
    <br>
    <div class="form-group">
        <button class="btn btn-default" type="submit">Finish</button>
    </div>
    <h2><i>More questions coming</i></h2>
{% endblock %}