{% extends "layout.html" %}

{% block title %}
    Personal Page
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Personal Page</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <div class="button-box col-lg-12">
        <a href="joingame" class="btn btn-info" role="button">Join Game</a>
        <a href="creategame" class="btn btn-info" role="button">Create Game</a>
    </div>
    <br>

    <h3><strong>Match History</strong></h3>
    <hr>
    <h3><strong>Your Stats</strong></h3>
    <hr>
{% endblock %}