{% extends "layout.html" %}

{% block title %}
    Personal Page
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Welcome to your personal page, {{ username }}!</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <p class="text-center">
        Here you can create, join a game or make your own custom quiz for the community. Keep in mind that you can only be active in 1 game at a time!
        You can also easily check your match history to see how well you did!
        A little lower, you can see your DoJoTrivia statistics.
    </p>
    <div class='row'>
        <br>
        <div class='col-sm'>
            <form action="{{ url_for('creategame') }}" name="creating" method="get">
                <button class="btn btn-primary btn-outline-danger btn-lg" type="submit">Create Game</button>
            </form>
        </div>
        <div class='col-sm'>
            <img src="static/logo.png" align="center" height='150px'/>
        </div>
        <div class='col-sm'>
            <form action="{{ url_for('joingame') }}" name="joining" method="get">
                <button class="btn btn-primary btn-outline-danger btn-lg" type="submit">Join Game</button>
            </form>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-sm'>
        <form action="{{ url_for('customquiz') }}" name="creating" method="get">
            <button class="btn btn-primary btn-outline-danger btn-lg" type="submit">Create custom quiz</button>
        </form>
        </div>
    </div>
    <br>

    <h3><strong>Match History</strong></h3>
    <hr>
    <table class="table table-fit" style='100%'>
        <tr class='h1'>
            <th>#</th>
            <th>Date</th>
            <th>Opponent</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>1. </td>
            <td>{{ match_history[0]['time'] }}</td>
            <td>{{ match_history[0]['opponent'] }}</td>
            <td>{{ match_history[0]['win']  }}</td>
        </tr>
        <tr>
            <td>2. </td>
            <td>{{ match_history[1]['time'] }}</td>
            <td>{{ match_history[1]['opponent'] }}</td>
            <td>{{ match_history[1]['win']  }}</td>
        </tr>
        <tr>
            <td>3. </td>
            <td>{{ match_history[2]['time'] }}</td>
            <td>{{ match_history[2]['opponent'] }}</td>
            <td>{{ match_history[2]['win']  }}</td>
        </tr>
        <tr>
            <td>4. </td>
            <td>{{ match_history[3]['time'] }}</td>
            <td>{{ match_history[3]['opponent'] }}</td>
            <td>{{ match_history[3]['win']  }}</td>
        </tr>
    </table>
    <br>
    <br>

    <h3><strong>Your Stats</strong></h3>
    <hr>
    <table style="width:100%">
        <tr>
            <td style="text-align:left"><h4>Wins</h4></td>
            <td style="text-align:right"><h4>{{ wlr[0] }}</h4></td>
        </tr>
        <tr>
            <td style="text-align:left"><h4>Losses</h4></strong></td>
            <td style="text-align:right"><h4>{{ wlr[1] }}</h4></td>
        </tr>
        <tr>
            <td style="text-align:left"><h4>Draws</h4></strong></td>
            <td style="text-align:right"><h4>{{ wlr[2] }}</h4></td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align:center">Win/Loss Ratio: <i>{{ wlr[3] }}</i></h1>
{% endblock %}