{% extends "layout.html" %}

{% block title %}
    Personal Page
{% endblock %}

{% block main %}
    <br>
    <head>
        <h1><strong>Welcome, {{ username }}</strong></h1>
    </head>
    <hr class="line_title">
    <br>
    <div class='row'>
        <div class='col-sm'>
            <form action="{{ url_for('creategame') }}" name="creating" method="post">
                <button class="btn btn-primary pers" type="submit">Create Game</button>
            </form>
        </div>
        <div class='col-sm'>
            <img src="static/logo.png" align="center" height='150px' width='150px'/>
        </div>
        <div class='col-sm'>
            <form action="{{ url_for('joingame') }}" name="joining" method="get">
                <button class="btn btn-primary pers" type="submit">Join Game</button>
            </form>
        </div>
    </div>
    <br>

    <h3><strong>Match History</strong></h3>
    <hr>
    <h3><strong>Your Stats</strong></h3>
    <hr>
{% endblock %}