
.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.red
{
    color: #ea433b;
}

head
{
    text-align: center;
}

ul {
  list-style-type: none;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Collapsed navbar*/
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/*Open navbar*/
.bg-dark{
  background-color:#111 !important;
}

.username{
  margin: 0px;
  float: right;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}






#main {
  transition: margin-left .5s;
  padding: 0px;
  margin-bottom: 1rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*Form css*/
.form-control
{
    display: inline-block;
    width: auto;
}
 .questform{
   width: 100%;
 }

/*Text css*/
p{text-align:left;
  color: grey;

}

/*Answers*/
.answer{
  font-size: 2rem;
  height: 100%;
  margin-bottom: 1px;
}

.waitmsg:
{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bolder;
}

/*Buttons*/
.pers{
  margin-bottom: 1rem;
}

/*Headers*/
.roomtag{
  font-size:2rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  color: #444444;
}

.bg {
  /* The image used */
  background-image: url("static/dojotrivia-logo.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}